#about-margroup-wrapped {
	border-radius: 0;
	background-color: black;
	color: white;
}

#about-margroup .row {
	display: flex;
	align-items: center;
}

#about-margroup .content-box {
	padding: 1rem;
	text-align: justify;
	font-style: italic;
	font-size: 1.2rem;
	/* background-image: url('../img/About-Margroup-background.png');
	background-size: 100% 100%;
	background-repeat: no-repeat; */
}

#about-margroup .row .carousel-item img {
	width: 100%;
	height: 100%;
	border-radius: 10%;
}