#footer {
	background-color: var(--dark-brown);
	color: white;
}

#footer #contact-info h1 {
	padding-bottom: 0.6rem;
	margin-bottom: 1rem;
	border-bottom: 3px solid white;
	display: inline-block;
	font-weight: bold;
}

#footer .head-info {
	font-size: 1.2rem;
}

#footer .head-info p:first-child {
	color: var(--dark-yellow);
	font-weight: bold;
}

#footer #contact-form {
	background-image: linear-gradient(to bottom right, #e9a16d, #725620);
	border-radius: 2rem;
	padding: 1.6rem;
}

#footer #contact-form input {
	border-radius: 1rem;
}

#footer #contact-form textarea {
	border-radius: 2rem;
}

#footer #contact-form button {
	background-color: var(--dark-brown);
	color: white;
	font-weight: bold;
	padding: 0.4rem 0.8rem;
	border-radius: 1rem;
}

#myModal .modal-header button {
	display: none;
}

#myModal .modal-footer button {
	opacity: 0.8;
	background-color: var(--dark-orange);
	color: white;
}

#myModal .modal-footer button:hover {
	cursor: pointer;
}

#footer .row:last-child div:first-child img {
	width: 40%;
	padding-bottom: 1rem;
	border-bottom: 3px solid white;
	margin-bottom: 1rem;
}

#footer .row:last-child div:nth-child(2) p span {
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 1rem;
	border-bottom: 3px solid white;
	margin-bottom: 1rem;
}

#footer .row:last-child div:nth-child(2) ul {
	margin-top: 2rem;
}

#footer .row:last-child div:nth-child(2) ul li {
	list-style-type: none;
}

#footer .row:last-child div:nth-child(2) ul li a {
	color: var(--dark-yellow);
}

.social-icons a {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	color: var(--dark-brown);
	background-color: var(--dark-yellow);
	border-radius: 50%;
	text-align: center;
	line-height: 2rem;
	margin-right: 0.2rem;
	transition: background-color 0.3s ease;
}

.social-icons a:hover {
	background-color: white;
}