:root {
	--dark-orange: #b85d36;
	--dark-red: #af2d03;
	--dark-brown: #792e1e;
	--cream-white: #ebe8e1;
	--cream-orange: #d6cdb0;
	--yellow: #f4dc3d;
	--dark-yellow: #ee9e2e;
}

/* styles.css */
/* @font-face {
    font-family: 'SVN Gotham';
    src: url('../fonts/SVN-Gotham/SVN-Gotham.eot');
    src: url('../fonts/SVN-Gotham/SVN-Gotham.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SVN-Gotham/SVN-Gotham.woff2') format('woff2'),
         url('../fonts/SVN-Gotham/SVN-Gotham.woff') format('woff'),
         url('../fonts/SVN-Gotham/SVN-Gotham.ttf') format('truetype'),
         url('../fonts/SVN-Gotham/SVN-Gotham.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
} */

@font-face {
    font-family: 'SVN Gotham';
    src: url('../fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.otf');
    src: url('../fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.otf') format('embedded-opentype'),
		 url('../fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.otf') format('woff2'),
         url('../fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.otf') format('woff'),
         url('../fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.otf') format('truetype'),
         url('../fonts/SVN-Gotham-Bold/SVN-Gotham-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gotham';
    src: url('../fonts/SVN-Gotham-Book/SVN-Gotham-Book.otf'); /* IE9 Compat Modes */
    src: url('../fonts/SVN-Gotham-Book/SVN-Gotham-Book.otf') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SVN-Gotham-Book/SVN-Gotham-Book.otf') format('woff2'), /* Super Modern Browsers */
         url('../fonts/SVN-Gotham-Book/SVN-Gotham-Book.otf') format('woff'), /* Modern Browsers */
         url('../fonts/SVN-Gotham-Book/SVN-Gotham-Book.otf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/SVN-Gotham-Book/SVN-Gotham-Book.otf') format('opentype'); /* OpenType */
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'SVN Gotham', 'Helvetica', sans-serif;
}

html {
	font-size: 16px;
}

body {
	background-color: var(--cream-white);
}

@media (max-width: 991px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 479px) {
	html {
		font-size: 12px;
	}
}

.content-slide-up {
	opacity: 0;
    transform: translateY(5rem);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.content-slide-up.slide-up {
    opacity: 1;
    transform: translateY(0);
}

.content-slide-right {
	opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.content-slide-right.slide-right {
    opacity: 1;
    transform: translateX(0);
}

.content-slide-left {
	opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.content-slide-left.slide-left {
    opacity: 1;
    transform: translateX(0);
}