:root {
	--dark-orange: #b85d36;
	--dark-red: #af2d03;
	--cream-white: #ebe8e1;
	--cream-orange: #d6cdb0;
	--yellow: #f4dc3d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica", sans-serif;
}

html {
	font-size: 16px;
}

body {
	background-color: var(--cream-white);
}

@media (max-width: 991) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 480) {
	html {
		font-size: 12px;
	}
}