.hero-section {
	position: relative;
	text-align: center;
	height: 48.4vw;
}

.hero-section .background-image {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 1;
}

.hero-section .hero-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.hero-section .hero-buttons .btn {
	width: 10vw;
	font-size: 1.4vw;
	font-weight: bold;
	padding: 0.6vw 0.8vw;
	margin: 0 4vw;
	border-radius: 50%;
	background-color: orange;
	border-color: orange;
}

#image-slider-home .carousel-item {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease-in-out, transform 3s ease-in-out;
}

#image-slider-home .carousel-item.active {
    opacity: 1;
    transform: scale(1);
}

#image-slider-home {
	background-color: black;
}