#home {
	text-align: center;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: black;
	border-radius: 0;
}

#home video {
	width: 85%;
	height: auto;
	padding: 0;
	margin: 0;
}

@media (max-width: 1199px) {
	#home video {
	  width: 100%;
	}
  }