#our-works .our-works-filter-button {
	background-color: transparent;
	border: 0.1rem solid var(--dark-orange);
	border-radius: 2rem;
	color: var(--dark-orange);
	padding: 0.4rem 0.8rem;
	font-size: 1rem;
	margin: 0 0.4rem 0 0;
	cursor: pointer;
}

#our-works .our-works-filter-button:hover {
	text-decoration: underline;
	font-weight: bold;
}

#our-works .our-works-filter-button.active {
	background-color: var(--dark-orange);
	border: 0.2rem solid var(--dark-orange);
	font-weight: bold;
	color: white;
}

#our-works .our-works-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

#our-works .our-works-item {
	background-color: white;
	padding: 0;
	flex: 1 1 calc(50% - 1rem);
	border-radius: 2rem;
	border: 0.1rem solid var(--dark-orange);
}

#our-works .fake-item {
	background-color: inherit;
	border: inherit;
}

#our-works .our-works-item img {
	border-radius: 1.8rem;
}

@media (max-width: 767px) {
	#our-works .our-works-item {
		flex: 1 1 100%;
	}
}

#our-works .our-works-info {
	padding: 1rem 1rem 0 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#our-works .our-works-description {
	color: black;
	font-size: 1.2rem;
}

#our-works .our-works-metadata {
	text-align: right;
	color: var(--dark-orange);
}

#our-works .outstanding {
	transition: .5s ease;
}
	
#our-works .outstanding:hover {
	box-shadow:
	2px 2px var(--dark-orange),
	3px 3px var(--dark-orange),
	4px 4px var(--dark-orange),
	5px 5px var(--dark-orange),
	6px 6px var(--dark-orange),
	7px 7px var(--dark-orange);
	transform: translateX(-0.4rem);
	transition: .5s ease;
	cursor: pointer;
}