#smag-wrapped {
	background-color: black;
	color: white;
}

#smag .row:nth-child(2) {
	display: flex;
	align-items: center;
}

#smag .content-box {
	text-align: justify;
	font-size: 1.4rem;
	padding: 1rem;
}

#smag #stats div {
	aspect-ratio: 1;
	background-image: url('../img/stats-background.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#smag #stats .stats-number {
	font-size: 6rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: var(--dark-yellow);
}

#smag #stats .stats-description {
	font-size: 1.2rem;
}