#sponsor-wrapped {
	background-color: black;
}

#sponsor-wrapped h1 {
	color: var(--dark-yellow);
	font-size: 1.6rem;
	font-weight: bold;
}

#sponsor .sponsor-logo {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	/* border: 0.2rem solid var(--dark-orange); */
	aspect-ratio: 1/1;
}

#sponsor .sponsor-logo img {
	width: 80%;
}